{{! }}
<form
   action="/register"
   method="post"
   class="form-floating d-flex flex-column"
   style="gap: 1rem; width: 400px"
>
   <h1>Sign Up</h1>
   <div class="form-floating mb-3">
      <input
         type="text"
         class="form-control border-primary border-2"
         placeholder="John..."
         id="firstName"
         name="firstName"
      />
      <label for="firstName">First Name</label>
   </div>
   <div class="form-floating mb-3">
      <input
         type="text"
         class="form-control border-primary border-2"
         placeholder="Smith..."
         id="lastName"
         name="lastName"
      />
      <label for="lastName">Last Name</label>
   </div>
   <div class="form-floating mb-3">
      <input
         type="email"
         class="form-control border-primary border-2"
         placeholder="Email..."
         id="email"
         name="email"
         aria-describedby="emailHelp"
      />
      <label for="email">Email address</label>
      <div id="emailHelp" class="form-text fs-6">We'll never share your email
         with anyone else.</div>
   </div>
   <div class="form-floating mb-1">
      <input
         type="password"
         class="form-control border-primary border-2"
         name="password"
         class="form-label"
         placeholder="Password..."
         id="password"
      />
      <label for="password">Password</label>
      <div id="passwordHelp" class="form-text fs-6">Choose a good one.</div>
      <div
         class="d-flex d-none align-items-center px-4 py-3 text-danger fs-6"
         role="alert"
         id="alert-label"
      >
         <i class="bi bi-exclamation-triangle-fill"></i>
         <div class="mx-3" id="alert-message">
            Invalid credentials. Please try again.
         </div>
      </div>
   </div>
   <div class="form-check mb-0">
      <input
         type="checkbox"
         class="form-check-input"
         id="validationFormCheck1"
         required
      />
      <label class="form-check-label" for="validationFormCheck1">
         I Agree to Terms & Agreements
      </label>
      <div class="invalid-feedback">This field is required</div>
   </div>
   <div
      class="d-flex flex-row justify-content-between align-items-center w-100"
   >
      <span class="text-black fs-6">Already have an account?</span>
      <h6>
         <a href="/login" class="text-primary" style="text-decoration: none;">
            Login now.
         </a>
      </h6>
   </div>
   <button
      type="submit"
      id="signup-btn"
      class="btn btn-primary btn-lg align-self-end mt-3"
      style="width: 200px;"
   >Sign up</button>
</form>

<script src="./../public/sign-up-logic.js" async="true"></script>