<h1 class="" style="text-align: center; margin-bottom: 2rem">
   Welcome to a Simple To-Do App!
</h1>
<h4 style="text-align: center;" class="mt-5 mb-5">
   <a href="/register" class="link-primary" style="text-decoration: none;">Sign
      Up</a>
   now or
   <a
      href="/login"
      class="link-primary"
      style="text-decoration: none;"
   >login</a>
   with an already existing account.</h4>
<div
   style="width: 100%; display:flex; flex-direction:row;align-items:center;justify-content:center;gap:1rem"
>
   <a
      class="btn btn-primary btn-lg px-4"
      style="text-decoration: none;"
      href="/login"
      role="button"
   >Login</a>
   <a
      class="btn btn-primary btn-lg px-4"
      style="text-decoration: none;"
      href="/register"
      role="button"
   >Sign Up</a>
</div>